@{
    ViewData["Title"] = "Home Page";
}

<style>

    .button-container {
        justify-self: center;
        margin-top: 10em;
        display: flex;
        gap: 3em;
    }

    .button-container > * {
        background-color: transparent;
        border-radius: 2em;
        padding: 0.8em 4em;
        border: 2px solid #a372ed;
        font-weight:600;
    }

    .button-container > *:hover {
        box-shadow: 0px 0px 10px #3492eb;
    }

</style>

<div class="body-container">
    <h1 class="display-4">Meet your friends here</h1>
    <p>or make some new</p>

    <div class="button-container">
        <a class="nav-link text-dark" href="Identity/Account/Login">Login</a>
        <a class="nav-link text-dark" href="Identity/Account/Register">Register</a>
    </div>
</div>
