@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/IndexStyleSheet.css" asp-append-version="true" />

<div class="body-container">
    <h1 class="display-4">Meet your friends here</h1>
    <p>or make some new</p>

    <div class="button-container">
        <a class="nav-link text-dark" href="Identity/Account/Login">Login</a>
        <a class="nav-link text-dark" href="Identity/Account/Register">Register</a>
    </div>
</div>
