@using VibeNet.Extensions
<ul class="navbar-nav flex-grow-1" >
    <li class="nav-item" style="display:flex">
        <a class="nav-link text-dark" asp-area="" asp-route-userId="@User.Id()" asp-controller="Home" asp-action="Index">Home</a>
        <a class="nav-link text-dark" asp-area="" asp-route-userId="@User.Id()" asp-controller="Friendrequest" asp-action="ShowFriendrequests">Friendsrequest</a>
        <a class="nav-link text-dark" asp-area="" asp-route-userId="@User.Id()" asp-controller="Friendship" asp-action="ShowFriends">Friends</a>
    </li>
</ul>
